* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #999;
  font-family: Arial, Helvetica, sans-serif;
}

.board {
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: #1f1f1f;
  line-height: 3em;
  text-align: center;
}

.column-container {
  border: 2px solid red;
  display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
  padding: 0 5px;
}

.column {
  background-color: #777;
  margin-bottom: 10px;
  width: 33%;
}

.column .card {
  background-color: #555;
}


.column:nth-of-type(odd) {
  background-color: #328D32;
}

.column:nth-of-type(odd) .card {
  background-color: #226022;
}

.column-title {
  line-height: 2.2em;
}

.column-card-list {
  list-style: none;
  margin-top: 20px;
  padding: 0 2%;
  text-align: left;
}

.card {
  display: flex;
    align-items: center;
    justify-content: flex-start;
  margin: 5px auto;
  padding: 15px 1%;
}

.button {
  border: none;
  font-weight: bold;
}

.create-column {
  background-color: #06B306;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 20px 40px;
}

.add-card {
  background-color: lightblue;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
}

.btn-delete {
  background-color: darkred;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px 10px;
}

.btn-delete-small {
  background-color: darkred;
  padding: 2px 4px;
}